<template>
  <div class="p-3">
    <div v-if="isLoading">
      <LoadingComp>loading</LoadingComp>
    </div>
    <div v-if="!isLoading">
      <div>
      <div class="text-light text-start mb-2">
      <p class="h5">Title</p>
      <input @keyup="(e)=>movieAddorUpdate('title',e.target.value)" style="width:20%" class="form-control" v-model="movie.title" type="text">
      </div>
      <div class="text-light text-start mb-2">
      <p class="h5">Director</p>
      <input @keyup="(e)=>movieAddorUpdate('director',e.target.value)" style="width:20%" class="form-control" v-model="movie.director" type="text">
      </div>
      </div>
      <div class="text-light text-start mb-2">
      <p class="h5">Summary</p>
      <textarea @keyup="(e)=>movieAddorUpdate('summary',e.target.value)" v-model="movie.summary" class="w-100 form-control" style="height:200px"></textarea>
      </div>
      <div class="text-light text-start mb-2">
        <p class="h5">Genre</p>
      </div>
      <div class="d-flex">
        <div><p v-bind:class="[!title ? bg-danger : bg-danger]" class="p-1 h4 rounded me-2 genre">Drama</p></div>
        <div><p class="p-1 h4 bg-light rounded me-2 genre">Action</p></div>
        <div><p class="p-1 h4 bg-light rounded me-2 genre">Animation</p></div>
        <div><p class="p-1 h4 bg-light rounded me-2 genre">Sci-Fi</p></div>
        <div><p class="p-1 h4 bg-light rounded genre">Horror</p></div>
      </div>
    </div>
  </div>
</template>

<script>
import swal from "sweetalert";
import LoadingComp from "../components/LoadingComp.vue";
export default {
  name: "MoviesDetailView",
  components:{
    LoadingComp
  },
  computed: {
    isLoading() {
      return this.$store.state.isLoading;
    },
    movie() {
      return this.$store.state.movieById;
    },
  },
  data(){
    return {
      title:'',
      director:'',
      summary:''
    }
  },
  created(){
    this.$store.commit("CHANGE_ISLOADING", true);
      this.$store
        .dispatch("fetchMovieById",this.$route.params.id)
        .then((resp) => {
          this.$store.commit("FETCH_MOVIE", resp.data);
        })
        .catch((err) => {
          swal(err.response.statusText);
        })
        .finally(() => {
          setTimeout(() => {
            this.$store.commit("CHANGE_ISLOADING", false);
          }, 500);
        });
  },
  methods:{
    movieAddorUpdate(stats,data){
      if(stats == 'title'){
        this.title = data
      }else if(stats == 'director'){
        this.director = data
      }else if(stats == 'summary'){
        this.summary = data
      }
      
    }
  }
};
</script>

<style scoped>
.genre{
  cursor: pointer;
}
</style>
