<template>
  <div class="p-3">
    <div class="mb-3 text-start ms-2">
      <input v-model="searchInput" @keyup="searchMovie" class="form-control w-50" type="text" placeholder="Search by title" />
    </div>
    <div v-if="isLoading">
      <LoadingComp>loading</LoadingComp>
    </div>
    <div v-if="!isLoading && movies.length" class="row ms-2">
      <MovieCard @toDetail="()=>toDetail(movie.id,movie.title)" v-for="(movie, i) in movies" :movieData="movie" :key="i"></MovieCard>
      <button class="button-add">Add more movie</button>
    </div>
    <div v-if="!isLoading && !movies.length">There is no such movie tittled "{{ searchInput }}"</div>
  </div>
</template>

<script>
import swal from "sweetalert";
import LoadingComp from "../components/LoadingComp.vue";
import MovieCard from "../components/MovieCard.vue";
export default {
  name: "MoviesView",
  data() {
    return {
      searchInput: "",
    };
  },
  created() {
    // when the vue component is rendered then change the state loading tobe true
    // in the real time to load some data you need more time
    this.$store.commit('FETCH_MOVIE',false)
    this.$store.commit("CHANGE_ISLOADING", true);
    this.$store
      .dispatch("fetchMovies") // fetch the movies into the server
      .then((resp) => {
        this.$store.commit("FETCH_MOVIES", resp.data);
      })
      .catch((err) => {
        swal(err.response.statusText);
      })
      .finally(() => {
        setTimeout(() => {
          this.$store.commit("CHANGE_ISLOADING", false); // when fetching data is done then set the loading to false
        }, 500);
      });
  },
  computed: {
    isLoading() {
      return this.$store.state.isLoading;
    },
    movies() {
      return this.$store.state.movies;
    },
  },
  components: {
    LoadingComp,
    MovieCard,
  },
  methods: {
    // search movie handler for searching the movie by title
    searchMovie() {
      this.$store.commit("CHANGE_ISLOADING", true);
      this.$store
        .dispatch("fetchMovies",this.searchInput)
        .then((resp) => {
          this.$store.commit("FETCH_MOVIES", resp.data);
        })
        .catch((err) => {
          swal(err.response.statusText);
        })
        .finally(() => {
          setTimeout(() => {
            this.$store.commit("CHANGE_ISLOADING", false);
          }, 500);
        });
    },

    // go to movie details for getting the details and switch to detail page
    toDetail(id,title){
      this.$router.push({ name: "movieDetail" ,
      params:{
        id,
        title
      }});
    }
  },
};
</script>

<style scoped>
.button-add {
  width: 90px;
  height: 80px;
  border-radius: 10px;
  margin-top: 34px;
  margin-left: 53px;
}
</style>
