<template>
  <div @click.prevent="$emit('toDetail')" class="border border-5 me-3 mb-3 p-2 rounded bg-dark text-light" style="width:200px; cursor:pointer">
    <div class="text-start">
    {{movieData.title}}
    </div>
    <div class="text-start mb-5">
    {{movieData.director}}
    </div>
    <div class="text-end">
    {{movieData.genres}}
    </div>
  </div>
</template>

<script>
export default {
    name:'MovieCard',
    props:['movieData']
}
</script>

<style>

</style>